.select_account_container {
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 39, 37);
    width: 100%;
    height: 90vh;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.select_title {
    color: #fff;
    font-size: xx-large;
    /* font-family: ; */

}

.select_jobseeker {
    background-color: rgb(244, 172, 17);
    padding: 10px 50px;
    color: #fff;

}

.employer {
    background-color: rgb(244, 172, 17);
    padding: 10px 50px;
    color: #fff;

}

.new_link {
    text-decoration: none;
    color: antiquewhite;
}