.loginContainer {
    background-color: rgb(8, 25, 25);
    height: 94vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.forms {
    background-color: rgb(230, 224, 224);
    width: 500px;
    height: 190px;
    flex-direction: column;
    display: flex;
    margin: auto auto;
}

.forms h4 {
    flex: 1;
    font-size: large;
    color: rgb(128, 127, 127);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

.login_form {
    margin: 30px 40px;
    flex: 5;
    display: flex;
    flex-direction: column;

}


.form_fullname {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

.form_fullname input {
    background-color: rgb(89, 89, 89, 0.3);
    border: 1px solid rgb(205, 205, 205);
    padding: 10px;
    margin-top: 2px;
}

.form_email {
    display: flex;

    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

.email .phone {
    display: grid;
}

.form_email input {
    background-color: rgb(89, 89, 89, 0.3);
    border: 1px solid rgb(205, 205, 205);
    padding: 10px;
    margin-top: 2px;
}

.create_btn {
    background-color: rgb(33, 33, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    border: none;
    padding: 10px 0px;
}

.create_btn:hover {
    background-color: orange;
}